body{ 
  background-image: url(energy\ copy.jpg); 
  background-size: cover; 
  margin-left: 450px; 
  color: rgb(92, 190, 247); 
  margin-top: 50px; 
}
 
  h2{
     margin-left: 100px; 
     margin-top: 50px; 
    }
   h5{
     margin-left: 30px;
     } 
   input{ margin-left: 36px; 
    height: 30px;
     width: 220px;
     border-radius: 10px;
     }
    .formi{ 
      margin-left: 20px;
      width: 250px;
       height: 30px;
       margin-top: 45px; 
       color: rgb(247, 247, 27);
       background-color: rgb(76, 188, 240); 
      }
     h6{ 
      margin-left: 15px; 
    }
    
 .formii{
  background-image: url(pump.webp);
  height: 800px;
 width: 305px;
 margin-left: 50px;
 border-radius: 15px;
}
.land{
 background-image: url(energy.jpg);
 background-size: cover;
 margin-left: 0px;
 margin-top: 0px;
 color: white;

}
.formiii{
 background-color: rgb(6, 108, 139);
 height: 200px;
 width: 500px;
 margin-left: 150px;
 border-radius: 15px;
 margin-top: 50px;
 display: flex;
}
.hydro{
 border-radius: 100px;
 height: 170px;
  width: 120px;
}